= form_for(current_user.following_relationships.build, remote: true) do |f|
  = hidden_field_tag :followed_id, @user.id
  = f.submit "名刺を交換", class: "common-button theme-primary l-mini-button message-btn"
