.recomended_people
  .guide_info
    %p.guide_info__guidance お知り合いですか？
    %p.guide_info__help 名刺リクエストを送信して、追加しましょう。
  .scroll
    %ul
      %li.recomended_people-recomended_person
        .friend_info.clickable
          %img.common-avatar.people-avatar.tmb{:src => "https://upload-contents.8card.net/profiles/cec94304d8094508866590a8d5c37df11b8163eb63643deadfde157bf4ad134c2f773c8f9_76.jpg"}/
          .profile-info
            .full-name 山田尚孝
            .company Sansan株式会社
        .recommended_people-follow_button
          %button.common-button.theme-primary.l-mini-button.follow-button
            %span 追加
            .dialog-position
        %i.fe.fe-close
      %li.recomended_people-recomended_person
        .friend_info.clickable
          %img.common-avatar.people-avatar.tmb{:src => "https://upload-contents.8card.net/profiles/cec94304d8094508866590a8d5c37df11b8163eb63643deadfde157bf4ad134c2f773c8f9_76.jpg"}/
          .profile-info
            .full-name 山田尚孝
            .company Sansan株式会社
        .recommended_people-follow_button
          %button.common-button.theme-primary.l-mini-button.follow-button
            %span 追加
            .dialog-position
        %i.fe.fe-close
      %li.recomended_people-recomended_person
        .friend_info.clickable
          %img.common-avatar.people-avatar.tmb{:src => "https://upload-contents.8card.net/profiles/cec94304d8094508866590a8d5c37df11b8163eb63643deadfde157bf4ad134c2f773c8f9_76.jpg"}/
          .profile-info
            .full-name 山田尚孝
            .company Sansan株式会社
        .recommended_people-follow_button
          %button.common-button.theme-primary.l-mini-button.follow-button
            %span 追加
            .dialog-position
        %i.fe.fe-close
