.search_view#my_network_search
  .search-eight_people_list
    - followers.each do |follower|
      .scroll
        %article.search-eight_person
          = link_to profile_user_path(follower.id) do
            %dl.item-field
              %dt.thumbnail
                .image_box
                  %i.fa.fa-user.fa-2x
              .text-field
                .user-name
                  = follower.name
                  %i.fe.fe-link
                .ellipsis-field
                  .company-name
                    株式会社 div
                  .company-department
                    マーケティング担当
              .people-follow_button
                .div
                  .common-text_button
                    追加
                .people-follow_button__note
