// .feed-feed .feed-post{border-radius:3px;box-shadow:1px 1px 1px #d5d5d5;background:#ffffff;margin-top:8px}
// .feed-notice_career_summary-notice_career_summary.common-dialog{border:0;background:transparent;margin-top:50px}
// .feed-notice{background-color:#fff8f0;border:0;display:block;margin:0 0 10px;padding:10px 40px 10px 20px;position:static;cursor:pointer}
// .feed-notice .content{border:0;color:#585858;display:block;font-size:1.2rem;font-weight:bold;line-height:2.5rem;margin:0;padding:0;position:static;text-align:left}
// .feed-notice .close{color:#d5d5d5;cursor:pointer;display:block;position:absolute;right:10px;top:13px}
// .feed-post_detail .post-back-button{border-radius:2px;border:solid 1px #b4b4b4;display:table-cell;height:30px;text-align:center;vertical-align:middle;width:65px}
// .feed-post_detail .post-back-button .prev{background:#ffffff}
// .feed-post_detail .nav{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:fixed;width:520px;z-index:9;box-shadow:0 0 10px 0 #454545;min-height:49px;background:#ffffff;padding:11px;border-radius:0 0 3px 3px}
// .feed-post_detail .cts{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
// .feed-post_detail .cts:not(.srh-list){padding-bottom:100px;padding-top:70px}
// .feed-post_detail .post_detail-post{border-radius:3px;box-shadow:1px 1px 1px #d5d5d5;background:#ffffff;margin-bottom:8px}
