.footer{padding-top:12px;padding-bottom:16px;font-size:1.1rem;line-height:1.36}
.footer.in-aside{margin-left:10px}
.footer .nav-c>ul>li{position:relative;color:#a0a0a0;display:inline-block}
.footer .nav-c>ul>li:not(:last-child){margin-right:1em}
.footer .nav-c>ul>li>a,.footer .nav-c>ul>li>span{color:#a0a0a0;text-decoration:none}
.footer .nav-c>ul>li>a:hover,.footer .nav-c>ul>li>span:hover{color:#585858}
.footer .nav-c>ul>li:hover>span{cursor:pointer;color:#585858}
.footer .nav-c>ul>li:hover>span::after{border-top:4px solid #585858}
.footer .nav-c>ul>li:hover>ul{display:block}
.footer .nav-c>ul>li>span::after{content:'';display:inline-block;vertical-align:middle;width:0;height:0;border-top:4px solid #a0a0a0;border-left:4px solid transparent;border-right:4px solid transparent;margin-left:5px;margin-top:-2px}
.footer .nav-c>ul>li>span+ul{display:none;position:absolute;right:0;padding-top:4px}
.footer .nav-c>ul>li>span+ul>li{white-space:nowrap;background:#ffffff}
.footer .nav-c>ul>li>span+ul>li:first-child{border-top:1px solid #307caf;border-radius:3px 3px 0 0}
.footer .nav-c>ul>li>span+ul>li:first-child>a{border-radius:3px 3px 0 0;padding:9px 9px 5px}
.footer .nav-c>ul>li>span+ul>li:last-child{border-bottom:1px solid #307caf;border-radius:0 0 3px 3px}
.footer .nav-c>ul>li>span+ul>li:last-child>a{border-radius:0 0 3px 3px;padding:5px 9px 9px}
.footer .nav-c>ul>li>span+ul>li>a{display:block;border-left:1px solid #307caf;border-right:1px solid #307caf;padding:5px 9px;text-decoration:none;color:#454545}
.footer .nav-c>ul>li>span+ul>li>a:hover{background:#f4f4f4}
.footer .copyright{color:#a0a0a0}
