.modal_content {
  display: none;
  position: fixed;
  margin:1.5em auto 0;
  padding:10px 20px;
  z-index:2;
  border-radius: 2px;
  background: #ffffff;
  border: 1px solid #307caf;
  .modal_intro_form {
    height: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    color: #585858;
    &__title {
      font-size: 16px;
      font-weight: bold;
    }
    &__additional_info {
      font-size: 10px;
    }
  }
  .modal_avatar_form_title {
    height: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    color: #585858;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .modal_form_title{
    height: 20px;
    margin-left: 10px;
    color: #585858;
    font-size: 1.6rem;
    font-weight: bold;
  }
  &__user_intro {
    width: 345px;
    max-height: 155px;
    margin-top: 15px;
    .user_intro_form {
      width: 100%;
    }
  }
  &__user_avatar{
    width: 320px;
    height: 385px;
    #user_avatar{
    font-size: 10px;
    }
  }
  &__summary{
    width: 573px;
    height: 371px;
    .career_summary_form {
      width: 542px;
      height: 282px;
    }
  }
  &__career_info{
    width : 494px;
    height: 600px;
    .field_set{
      margin-top: 15px;
      .career_info_label{
        font-size: 1.2rem;
      }
    }
    .career_info_text_field {
      width: 100%;
    }
  }
  &__academic_info{
    width: 485px;
    height: 401px;
    .field_set{
      margin-top: 15px;
      .academic_info_label{
        font-size: 1.2rem;
      }
    }
    #academy_school_type{
      height: 2rem;
    }
    .academic_info_text_field{
      width: 100%;
    }
  }
  &__personal_info{
    width: 340px;
    height: 235px;
    .field_set{
      margin-top: 15px;
      .personal_info_label{
        font-size: 1.2rem;
      }
    }
    ul{
      display: flex;
      margin-top: 10px;
      li{
        margin-right: 30px;
        #user_gender_男性{
          position: absolute;
        }
        #user_gender_女性{
          position: absolute;
        }
        .radio_button_label{
          padding-left: 10px;
          font-size: 1.4rem;
          line-height: 10px;
        }
      }
    }
    .personal_info_text_field{
      width: 100%;
      height: 26px;
    }
  }
  &__career_status{
    width: 410px;
    height: 320px;
    .field_set{
      margin: 15px 0px 10px;
      .career_status_label{
        font-size: 1.2rem;
      }
    }
    #user_career_status{
      height: 36px;
      width: 100%;
    }
    .career_status_text_field{
      height: 36px;
      width: 100%;
    }
  }
  &__basic_info{
    width: 494px;
    height: 580px;
    .field_set{
      margin-top: 10px;
      .basic_info_label{
        font-size: 1.2rem;
      }
    }
    .basic_info_text_field{
      width: 100%;
      height: 26px;
      font-size: 1.2rem;
    }
  }
}

#modal_overlay {
  z-index:1;
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:120%;
  background-color:rgba(0,0,0,0.75);
}

.modal_form_title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #585858;
}
