

.recommended_people-follow_button{width:45px}
.recommended_people-follow_button .follow-button-container{position:relative}
.recommended_people-follow_button .follow-button-container .dialog-position{margin-top:2px}
.recommended_people-follow_button .follow-button,.recommended_people-follow_button .undo-button{font-size:1rem;font-weight:normal;height:22px;min-width:45px;min-height:22px;padding:5px 6px;width:45px}
.recommended_people-follow_button .follow-button{box-sizing:border-box;border:1px solid #307caf;border-radius:2px;background-color:#ffffff;color:#307caf}
.recommended_people-follow_button .follow-button:hover{opacity:.8;box-shadow:0 0 8px 0 rgba(48,124,175,0.35)}
.recommended_people-follow_button .undo-button{box-sizing:border-box;border:1px solid #a0a0a0;border-radius:2px;background-color:#a0a0a0;color:#ffffff}
.recommended_people-follow_button .undo-button:hover{opacity:.8;box-shadow:0 0 8px 0 rgba(255,255,255,0.35)}
.recommended_people-recommended_people{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-left:10px}
.recommended_people-recommended_people .ttl{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:6px 0 5px;border-bottom:1px solid #d5d5d5;margin-right:10px}
.recommended_people-recommended_people .ttl dt{font-size:1.4rem;font-weight:bold;margin:5px 0}
.recommended_people-recommended_people .ttl dd{font-size:1rem;margin:5px 0}
.recommended_people-recommended_people .desc{color:#585858;margin:0 10px}
.recommended_people-recommended_people .fe-your-network{color:#a0a0a0;font-size:10rem;width:100%}
.recommended_people-recommended_people .fe-your-network::before{display:block;text-align:center}
.recommended_people-recommended_people .people-recommends-image .fe-your-network{color:#d5d5d5;font-size:11rem;line-height:62px;margin:30px 0 20px}
.recommended_people-recommended_person{margin-right:10px;align-items:center;border-bottom:1px solid #d5d5d5;display:flex;height:65px;justify-content:space-between;position:relative}
.recommended_people-recommended_person .clickable{align-items:center;cursor:pointer;display:flex}
.recommended_people-recommended_person .tmb{height:37px;width:37px}
.recommended_people-recommended_person .profile-info{flex-grow:1;font-size:1rem;line-height:1.6rem;margin:0 10px;width:150px}
.recommended_people-recommended_person .profile-info .full-name{font-size:1.2rem;font-weight:bold;margin-right:5px}
.recommended_people-recommended_person .ell{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.recommended_people-recommended_person .fe-close{color:#b4b4b4;position:absolute;right:0;top:6px}
.recommended_people-recommended_person .fe-close:hover{color:#a0a0a0;font-weight:bold}
