.right-contents {
  float: left;
  width: $right-width;
  height: 100vh;
  .main-group {
    height: 100px;
    box-sizing: border-box;
    border-bottom:1px solid #DDDDDD;
    @include right-side-position(35px,40px, 0, 40px);
    background-color: #FFFFFF;
    &__name {
      @include black-font(20px);
      padding-bottom: 15px;
      font-weight: bold;
    }
    &__member {
      @include gray-font(12px);
    }
    &__edit {
        @extend .button;
        background-color: $white;
        color: $light-blue;
        border:solid$light-blue;
        right: 40px;
        top: 30px;
      }
  }
  .chatspace{
    height: calc( 100vh - 190px );
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    .chatspace-content{
      width: 100%;
      @include right-side-position(46px, 40px, 15px, 40px);
      &__member {
        @include black-font(16px);
        float: left;
        font-weight: bold;
        padding-right: 15px;
      }
      &__post-time {
        @include gray-font(12px);
        float: left;
      }
      &__chat {
        @include black-font(14px);
        clear: both;
        @include right-side-position(10px,15px, 40px, 15px);
      }
    }
  }
  .form-box {
    width:$right-width;
    height: 90px;
    bottom: 0;
    position: absolute;
    background-color: #DDDDDD;
    form {
    clear: both;
    @include form-position(20px, 20px, 20px, 20px);
    }
    &__text-field {
      height: 50px;
      width:calc(100% - 150px);
      float: left;
    }
    &__picture-set {
      background-color: #FFFFFF;
      height: 52px;
      width: 50px;
      float: left;
      margin-top: 1px;
        &__field {
        display:none;
        }
        .fa-fw {
          margin: 12px auto;
          width: 3em;
          font-size: 20px;
        }
    }
    &__button {
      @extend .button;
      background-color: $light-blue;
      color: $white;
      float: left;
      bottom: 0;
    }
  }
}
